body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  height: 100%;
}

.main-1 {
  background: hsl(235deg, 21%, 11%);
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: url(/assets/image/bg-desktop-dark.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-1 .todo__container .todo__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-1 .todo__container .todo__header h1 {
  font-size: 40px;
  font-weight: 700;
  color: hsl(234deg, 39%, 85%);
  letter-spacing: 3px;
}
.main-1 .todo__container .todo__creation {
  height: 100%;
  width: 450px;
  padding: 1.7rem 1rem;
  background-color: hsl(235deg, 24%, 19%);
  border-radius: 5px;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}
.main-1 .todo__container .todo__creation .button {
  position: relative;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid hsl(234deg, 11%, 52%);
  cursor: pointer;
}
.main-1 .todo__container .todo__creation .button .checkbtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-1 .todo__container .todo__creation .button:focus {
  background-color: hsl(220deg, 98%, 61%);
}
.main-1 .todo__container .todo__creation input {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  color: hsl(234deg, 39%, 85%);
  font-family: "Josefin Sans", sans-serif;
}
.main-1 .todo__container .todo__creation input::placeholder {
  font-size: 16px;
  color: hsl(236deg, 9%, 61%);
  font-family: "Josefin Sans", sans-serif;
}
.main-1 .todo__container .todo__main {
  background-color: hsl(235deg, 24%, 19%);
  border-radius: 5px 5px 0 0;
}
.main-1 .todo__container .todo__main .todo__main-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.main-1 .todo__container .todo__main .todo__main-container .circle {
  position: relative;
  height: 12px;
  width: 15px;
  border-radius: 50%;
  margin-left: 1rem;
  background-color: transparent;
  border: 1px solid hsl(234deg, 11%, 52%);
  cursor: pointer;
}
.main-1 .todo__container .todo__main .todo__main-container .circle .check {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-1 .todo__container .todo__main .todo__main-container .todo__main-content {
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  color: hsl(234deg, 39%, 85%);
  cursor: pointer;
}
.main-1 .todo__container .todo__main .todo__main-container .todo__main-content .todo__main-text {
  font-family: "Josefin Sans", sans-serif;
  color: hsl(234deg, 39%, 85%);
}
.main-1 .todo__container .todo__main .todo__main-container .todo__main-controls h1 {
  font-weight: 500;
  color: hsl(237deg, 14%, 26%);
  margin-right: 1rem;
  cursor: pointer;
  opacity: 0;
}
.main-1 .todo__container .todo__completed {
  background-color: hsl(235deg, 24%, 19%);
  border-radius: 5px 5px 0 0;
  padding: 1.5rem;
}
.main-1 .todo__container .todo__completed .newPara {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: hsl(234deg, 39%, 85%);
}
.main-1 .todo__container .todo__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  padding: 0 1rem;
  color: hsl(234deg, 39%, 85%);
  text-decoration: none;
  background-color: hsl(235deg, 24%, 19%);
  border-radius: 0 0 5px 5px;
}
.main-1 .todo__container .todo__links a {
  color: hsl(234deg, 39%, 85%);
  cursor: pointer;
  text-decoration: none;
}
.main-1 .todo__container .todo__links a:focus {
  color: hsl(220deg, 98%, 61%);
}
.main-1 .todo__container .todo__links #all {
  margin-left: auto;
}
.main-1 .todo__container .todo__links #complete {
  margin-right: auto;
}
.main-1 .todo__container .todo__links #clear {
  cursor: pointer;
}
.main-1 .toggle-circle {
  background-image: url(/assets/image/icon-check.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 1px solid hsl(220deg, 98%, 61%);
  cursor: pointer;
}
.main-1 .toggle-circle:focus {
  background-color: hsl(220deg, 98%, 61%);
}
.main-1 .toggle-p {
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  color: hsl(236deg, 9%, 61%);
  cursor: pointer;
  text-decoration: line-through;
}

@media screen and (max-width: 540px) {
  .main-1 {
    background-image: url(/assets/image/bg-mobile-dark.jpg);
  }
  .main-1 .todo__container .todo__creation {
    width: 350px;
  }
}
@media screen and (max-width: 420px) {
  .main-1 .todo__container .todo__header {
    justify-content: center;
    gap: 11rem;
  }
  .main-1 .todo__container .todo__creation {
    width: 320px;
  }
  .main-1 .todo__container .todo__links {
    font-size: 13px;
  }
}
.main-2 {
  background: hsl(0deg, 0%, 98%);
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: url(/assets/image/bg-desktop-light.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-2 .todo__container .todo__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-2 .todo__container .todo__header h1 {
  font-size: 40px;
  font-weight: 700;
  color: hsl(235deg, 21%, 11%);
  letter-spacing: 3px;
}
.main-2 .todo__container .todo__creation {
  height: 100%;
  width: 450px;
  padding: 1.7rem 1rem;
  background-color: hsl(236deg, 33%, 92%);
  border-radius: 5px;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}
.main-2 .todo__container .todo__creation .button {
  position: relative;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid hsl(236deg, 9%, 61%);
  cursor: pointer;
}
.main-2 .todo__container .todo__creation .button .checkbtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-2 .todo__container .todo__creation .button:focus {
  background-color: hsl(220deg, 98%, 61%);
}
.main-2 .todo__container .todo__creation input {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  color: hsl(235deg, 19%, 35%);
  font-family: "Josefin Sans", sans-serif;
}
.main-2 .todo__container .todo__creation input::placeholder {
  font-size: 16px;
  color: hsl(236deg, 9%, 61%);
  font-family: "Josefin Sans", sans-serif;
}
.main-2 .todo__container .todo__main {
  background-color: hsl(236deg, 33%, 92%);
  border-radius: 5px 5px 0 0;
}
.main-2 .todo__container .todo__main .todo__main-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.main-2 .todo__container .todo__main .todo__main-container .circle {
  position: relative;
  height: 12px;
  width: 15px;
  border-radius: 50%;
  margin-left: 1rem;
  background-color: transparent;
  border: 1px solid hsl(236deg, 9%, 61%);
  cursor: pointer;
}
.main-2 .todo__container .todo__main .todo__main-container .circle .check {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-2 .todo__container .todo__main .todo__main-container .todo__main-content {
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  color: hsl(235deg, 19%, 35%);
  cursor: pointer;
}
.main-2 .todo__container .todo__main .todo__main-container .todo__main-content .todo__main-text {
  font-family: "Josefin Sans", sans-serif;
  color: hsl(235deg, 19%, 35%);
}
.main-2 .todo__container .todo__main .todo__main-container .todo__main-controls h1 {
  font-weight: 500;
  color: hsl(237deg, 14%, 26%);
  margin-right: 1rem;
  cursor: pointer;
  opacity: 0;
}
.main-2 .todo__container .todo__completed {
  background-color: hsl(236deg, 33%, 92%);
  border-radius: 5px 5px 0 0;
  padding: 1.5rem;
}
.main-2 .todo__container .todo__completed .newPara {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: hsl(235deg, 19%, 35%);
}
.main-2 .todo__container .todo__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  padding: 0 1rem;
  color: hsl(235deg, 19%, 35%);
  text-decoration: none;
  background-color: hsl(236deg, 33%, 92%);
  border-radius: 0 0 5px 5px;
}
.main-2 .todo__container .todo__links a {
  color: hsl(235deg, 19%, 35%);
  cursor: pointer;
  text-decoration: none;
}
.main-2 .todo__container .todo__links a:focus {
  color: hsl(220deg, 98%, 61%);
}
.main-2 .todo__container .todo__links #all {
  margin-left: auto;
}
.main-2 .todo__container .todo__links #complete {
  margin-right: auto;
}
.main-2 .todo__container .todo__links #clear {
  cursor: pointer;
}
.main-2 .toggle-circle {
  background-image: url(/assets/image/icon-check.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 1px solid hsl(220deg, 98%, 61%);
  cursor: pointer;
}
.main-2 .toggle-circle:focus {
  background-color: hsl(220deg, 98%, 61%);
}
.main-2 .toggle-p {
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  color: hsl(236deg, 9%, 61%);
  cursor: pointer;
  text-decoration: line-through;
}

@media screen and (max-width: 540px) {
  .main-2 {
    background-image: url(/assets/image/bg-mobile-light.jpg);
  }
  .main-2 .todo__container .todo__creation {
    width: 350px;
  }
}
@media screen and (max-width: 420px) {
  .main-2 .todo__container .todo__header {
    justify-content: center;
    gap: 11rem;
  }
  .main-2 .todo__container .todo__creation {
    width: 320px;
  }
  .main-2 .todo__container .todo__links {
    font-size: 13px;
  }
}

/*# sourceMappingURL=style.css.map */
